*{
	box-sizing:border-box
	}
	div.section
	{
		position:relative
		}
		div.section h1
		{
			font-size:3.5em
		}
		.box-overlay
		{
			background:transparent url(../images/box_pixel.png) repeat;position:absolute;padding:10px;color:#fafafa
			}
			.button
			{
				display:block;padding:1em;font-family:open sans;color:#fff
				}
				.clear
				{
					clear:both
					}
					div#download-buttons
					{
						width:25em;margin:0 auto;display:block;text-align:center;font-family:open sans,sans-serif
						}
						div#download-buttons a
						{
							color:#fff;text-decoration:none
						}
						#download-button
						{
							border:1px solid black;display:block;margin-bottom:.25em;padding:1em;font-size:2em;font-weight:700;background:#009999
						}
						#download-button:hover
						{
							background:cyan
							}
							.alt-download-button
							{
								border:1px solid #264a58;display:block;margin-bottom:1em;padding:1em;font-size:1.5em;width:8em;background:#4a99ae
								}
								.alt-download-button:hover
								{
									background:#3e7d90
									}
									#alt-download-button-l
									{
										float:left
										}
										#alt-download-button-r
										{
											float:right
											}